.Corpus  {
    background: linear-gradient(217deg, rgba(162, 0, 255, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0, 217, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(247, 0, 255, 0.8), rgba(0,0,255,0) 70.71%);
}

.Logo {  /* ICI ESSAYER DE MODIFIER LE PLACEMENT DE L IMG SAUF SI BURGER PRESENT */
    max-width: 70% ;
    height: auto;    
}

.App-navBar {
    /* background-color: aquamarine; */
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}

