.weather-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.weather
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 50px;
    padding: 0 50px;
}

.weather img
{
    width: 200px;
}